.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  width: calc(100% - 250px);
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.dashTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dashOptions {
  display: flex;
  gap: 20px;
}

.createButton {
  background-color: #201f32;
  color: aliceblue;
  font-size: larger;
  height: 30px;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

img {
  height: 15px;
}

.otherButtons {
  background-color: white;
  border: none;
  padding: 0 8px;
  border-radius: 15px;
}

.profilePic {
  height: 30px;
  position: relative;
}
