.profileContainer {
  display: flex;
  margin-left: 250px;
  width: calc(100% - 250px);
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  align-items: center;
  border-radius: 25px;
  gap: 15px;
  background: linear-gradient(to bottom, #d9f275 30%, white 70%);
}

.profileHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px double black;
  padding-bottom: 20px;
}

.profileIcon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.profileName {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detailItem {
  display: flex;
  gap: 20px;
  align-items: center;
}

.detailItem label {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}

.detailItem p {
  font-size: 20px;
  color: #111;
}

.editProfileButton {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #201f32;
  color: aliceblue;
  border-radius: 10px;
  width: 60%;
  align-self: center;
}

.editProfile {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  gap: 20px;
}

.insightContainer {
  display: flex;
  gap: 10px;
}

.taskData,
.projectData {
  width: 50%;
  background-color: #201f32;
  padding: 15px;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compProj,
.newProj,
.progProj {
  display: flex;
  gap: 20px;
  /* background-color: #d9f275; */
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  color: #201f32;
}

.compProj img,
.newProj img,
.progProj img {
  height: 30px;
}

.editProfile .header {
  width: 100%;
  background-color: #d9f275;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
