.profileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.profileSidebar {
  background-color: #201f32;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  width: 220px;
  max-width: 90%;
  top: 305px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileTop img {
  height: 25px;
}

.profileOptions {
  background-color: #201f32;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 20px;
}

.profileOptions button {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  gap: 5px;
  background: none;
  border: none;
  color: #f0f8ff;
  align-items: center;
}

.profileOptions img {
  height: 20px;
}
