.taskCard {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskCard p {
  color: black;
}

.taskCardTop {
  background-color: aliceblue;
  color: #201f32;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 15px;
}

.taskCardBottom {
  background-color: #201f32;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 15px;
}

.creationTime p {
  color: aliceblue;
  font-size: 15px;
}

.priority {
  padding: 4px 8px;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

/* Priority colors */
.high {
  background-color: #e74c3c; /* Red */
}

.moderate {
  background-color: #f1c40f; /* Yellow */
  color: black;
}

.low {
  background-color: #2ecc71; /* Green */
}

.taskButtons {
  display: flex;
  height: 20px;
  gap: 5px;
}
